.spacex-item {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px #ccc;
}

.img-thumbnail {
  background-color: #f5f5f5;
}
.img-not-found {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
td {
  float: right;
  clear: left;
  color: blue;
}
li {
  font-weight: normal;
  color: blue;
}
ul {
  margin-bottom: 0;
}
.mission-name {
  color: blue;
}
